<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.mono2.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        autoReload="true"
        >
	<variable name="StrictLayout"
			  value="${longdate} ${level:upperCase=true} ${logger} ${message}"/>
	<variable name="VerboseLayout"
			  value="${longdate} ${level:upperCase=true} ${logger} ${message} (${callsite:includSourcePath=true})"/>
	<variable name="ExceptionVerboseLayout"
			  value="${VerboseLayout} (${stacktrace:topFrames=10})  
                       ${exception:format=ToString}"/>
	<targets async="false">
		<target name="console" xsi:type="Console" />
	</targets>
	<rules>
		<target name="console" minlevel="Info" writeTo="Console" />
		<logger name="*" minlevel="Trace" writeTo="file" />
		<logger name="FtpDownloader:purchaseNoticeDownloadModule" minlevel="Trace" writeTo="fileDownloader" />
	</rules>
</nlog>